.marker {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding: 4px;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.marker svg {
    width: 20px !important;
    max-height: 20px;
    background-color: rgba(255, 255, 255, 0.356);
    padding: 4px;
    border-radius: .2rem;
    display: flex;
    align-items: center;
}

.marker path {
    fill: rgb(255, 255, 255);
}

.marker p {
    margin: 0;
    line-height: 16px;
}

.marker p:first-child {
    font-size: 12px;
    font-weight: bold;
}

.marker::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
}

.marker:hover {
    border: 2px solid rgb(0, 0, 0);
    z-index: 2;
}

.marker:hover::after {
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
}

